<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://www.colourbox.com/preview/21076664-vector-set-of-alcohol-cocktail.jpg" alt="cocktail">
  </a>
  <h1>Mister Cocktail</h1>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Home</a> -->
    <%= link_to "Add Cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <!-- <a href="cocktails/new_cocktail_dose" class="navbar-wagon-item navbar-wagon-link">Add Dose</a> -->

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://web-uploads.alpacamaps.com/uploads/2017/11/gtillustration.png" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item visible-xs">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <!--   <li><a href="#">Host</a></li> -->
        <li><a href="#">Add Cocktail</a></li>
        <!-- <li><a href="#">Messagese</a></li> -->
      </ul>
    </div>
  </div>
</div>
